# Actividad N° 04: Preparación de Datos Encuesta Nacional de Hogares 2019

## Integrantes

**Grupo N° 03**

- Adriana Villalobos
- Gustavo Ledesma
- Alejo Cuello

## Descripción de la actividad

Trabajamos sobre el conjunto de datos *encuesta-anual-hogares-2019.csv*. El objetivo de la actividad es tratar los datos para poder usarlos en un modelo.

# Código

In [420]:
# Instalación y llamado de libs
import pandas as pd
from funpymodeling.exploratory import status

In [421]:
# 1. Cargamos el dataset

data = pd.read_csv("encuesta-anual-hogares-2019.csv", sep=',')

In [422]:
data.sample(5)

,id,nhogar,miembro,comuna,dominio,edad,sexo,parentesco_jefe,situacion_conyugal,num_miembro_padre,...,ingreso_per_capita_familiar,estado_educativo,sector_educativo,nivel_actual,nivel_max_educativo,años_escolaridad,lugar_nacimiento,afiliacion_salud,hijos_nacidos_vivos,cantidad_hijos_nac_vivos
5556,2109,1,4,9,Resto de la Ciudad,10,Varon,Hijo/a - Hijastro/a,No corresponde,1,...,27250,Asiste,Estatal/publico,Primario comun,Sala de 5,4,CABA,Solo obra social,NaN,No corresponde
3140,1333,1,3,1,Villas de emergencia,19,Mujer,Hijo/a - Hijastro/a,Soltero/a,Padre no vive en el hogar,...,8500,No asiste pero asistió,No corresponde,No corresponde,EGB (1° a 9° año),7,CABA,Solo sistema publico,No,No corresponde
3479,1448,1,2,8,Villas de emergencia,42,Mujer,Conyugue o pareja,Unido/a,No corresponde,...,6250,No asiste pero asistió,No corresponde,No corresponde,Primario comun,7,CABA,Solo obra social,Si,4
13752,5449,1,1,12,Resto de la Ciudad,81,Mujer,Jefe,Viudo/a,No corresponde,...,30000,No asiste pero asistió,No corresponde,No corresponde,Primario especial,12,CABA,Otros,Si,3
13345,5206,1,1,8,Resto de la Ciudad,77,Mujer,Jefe,Separado/a de unión o matrimonio,No corresponde,...,28500,No asiste pero asistió,No corresponde,No corresponde,Primario comun,7,Otra provincia,Solo obra social,Si,1

In [423]:
status(data)

,variable,q_nan,p_nan,q_zeros,p_zeros,unique,type
0,id,0,0.000000,0,0.000000,5795,int64
1,nhogar,0,0.000000,0,0.000000,7,int64
2,miembro,0,0.000000,0,0.000000,19,int64
3,comuna,0,0.000000,0,0.000000,15,int64
4,dominio,0,0.000000,0,0.000000,2,object
5,edad,0,0.000000,128,0.008939,101,int64
6,sexo,0,0.000000,0,0.000000,2,object
7,parentesco_jefe,0,0.000000,0,0.000000,9,object
8,situacion_conyugal,1,0.000070,0,0.000000,7,object
9,num_miembro_padre,0,0.000000,0,0.000000,9,object
10,num_miembro_madre,0,0.000000,0,0.000000,11,object
11,estado_ocupacional,0,0.000000,0,0.000000,3,object
12,cat_ocupacional,0,0.000000,0,0.000000,5,object
13,calidad_ingresos_lab,0,0.000000,0,0.000000,4,object
14,ingreso_total_lab,0,0.000000,6963,0.486277,440,int64
15,calidad_ingresos_no_lab,0,0.000000,0,0.000000,4,object
16,ingreso_total_no_lab,0,0.000000,10247,0.715623,375,int64
17,calidad_ingresos_totales,0,0.000000,0,0.000000,4,object
18,ingresos_totales,0,0.000000,4295,0.299951,678,int64
19,calidad_ingresos_familiares,0,0.000000,0,0.000000,3,object
20,ingresos_familiares,0,0.000000,76,0.005308,960,int64
21,ingreso_per_capita_familiar,0,0.000000,76,0.005308,1257,int64
22,estado_educativo,0,0.000000,0,0.000000,3,object
23,sector_educativo,3,0.000210,0,0.000000,4,object
24,nivel_actual,0,0.000000,0,0.000000,14,object
25,nivel_max_educativo,1054,0.073608,0,0.000000,7,object
26,años_escolaridad,62,0.004330,0,0.000000,20,object
27,lugar_nacimiento,1,0.000070,0,0.000000,7,object
28,afiliacion_salud,4,0.000279,0,0.000000,5,object
29,hijos_nacidos_vivos,7784,0.543613,0,0.000000,2,object
30,cantidad_hijos_nac_vivos,0,0.000000,0,0.000000,14,object

## Inspección inicial:

In [424]:
# sacar id e hijos_nacidos_vivos

data = data.drop(["id", "hijos_nacidos_vivos"], axis=1)
data.sample(5)

,nhogar,miembro,comuna,dominio,edad,sexo,parentesco_jefe,situacion_conyugal,num_miembro_padre,num_miembro_madre,...,ingresos_familiares,ingreso_per_capita_familiar,estado_educativo,sector_educativo,nivel_actual,nivel_max_educativo,años_escolaridad,lugar_nacimiento,afiliacion_salud,cantidad_hijos_nac_vivos
11739,1,2,11,Resto de la Ciudad,63,Mujer,Conyugue o pareja,Casado/a,No corresponde,No corresponde,...,43000,21500,No asiste pero asistió,No corresponde,No corresponde,Primario especial,12,CABA,Solo obra social,1
11425,1,1,3,Resto de la Ciudad,65,Varon,Jefe,Divorciado/a,No corresponde,No corresponde,...,35000,17500,No asiste pero asistió,No corresponde,No corresponde,EGB (1° a 9° año),11,Partido GBA,Solo obra social,No corresponde
11312,1,1,10,Resto de la Ciudad,64,Mujer,Jefe,Separado/a de unión o matrimonio,No corresponde,No corresponde,...,22500,22500,No asiste pero asistió,No corresponde,No corresponde,Secundario/medio comun,17,CABA,Solo obra social,No corresponde
13413,1,2,12,Resto de la Ciudad,77,Mujer,Conyugue o pareja,Casado/a,No corresponde,No corresponde,...,339000,67800,No asiste pero asistió,No corresponde,No corresponde,Primario especial,12,CABA,Otros,3
1560,1,1,3,Resto de la Ciudad,31,Varon,Jefe,Unido/a,No corresponde,No corresponde,...,75000,18750,No asiste pero asistió,No corresponde,No corresponde,Primario especial,12,Partido GBA,Solo prepaga o mutual via OS,No corresponde

## Discretización

In [425]:
# Discretización de ingresos_familiares e ingreso_per_capita_familiar
# Usamos drop para eliminar los valores duplicados

data["ingresos_familiares_cat_rd"] = pd.cut(data["ingresos_familiares"], bins=8, duplicates="drop")
data["ingresos_familiares_cat_f"] = pd.qcut(data["ingresos_familiares"], q=8, duplicates="drop")

data["ingreso_per_capita_familiar_cat_rd"] = pd.cut(data["ingreso_per_capita_familiar"], bins=10, duplicates="drop")
data["ingreso_per_capita_familiar_cat_f"] = pd.qcut(data["ingreso_per_capita_familiar"], q=10, duplicates="drop")

In [426]:
data.sample(5)[["ingresos_familiares","ingresos_familiares_cat_rd","ingresos_familiares_cat_f","ingreso_per_capita_familiar","ingreso_per_capita_familiar_cat_rd","ingreso_per_capita_familiar_cat_f"]]

,ingresos_familiares,ingresos_familiares_cat_rd,ingresos_familiares_cat_f,ingreso_per_capita_familiar,ingreso_per_capita_familiar_cat_rd,ingreso_per_capita_familiar_cat_f
10816,18000,"(-1000.0, 125000.0]","(-0.001, 20800.0]",6000,"(-1000.0, 100000.0]","(5400.0, 8700.0]"
4568,25000,"(-1000.0, 125000.0]","(20800.0, 30000.0]",6250,"(-1000.0, 100000.0]","(5400.0, 8700.0]"
13826,12000,"(-1000.0, 125000.0]","(-0.001, 20800.0]",12000,"(-1000.0, 100000.0]","(8700.0, 12000.0]"
9609,42000,"(-1000.0, 125000.0]","(30000.0, 42000.0]",42000,"(-1000.0, 100000.0]","(38300.0, 52340.0]"
1064,39000,"(-1000.0, 125000.0]","(30000.0, 42000.0]",39000,"(-1000.0, 100000.0]","(38300.0, 52340.0]"

In [427]:
# Revisemos si pudo cumplir los cortes: 

print("Valores distintos vs solicitados: ")
print("")

print("ingresos_familiares_cat_rd: " + str(len(data["ingresos_familiares_cat_rd"].unique())) + " (8)")

print("ingresos_familiares_cat_f: " + str(len(data["ingresos_familiares_cat_f"].unique())) + " (8)")

print("ingreso_per_capita_familiar_cat_rd: " + str(len(data["ingreso_per_capita_familiar_cat_rd"].unique())) + " (10)")

print("ingreso_per_capita_familiar_cat_f: " + str(len(data["ingreso_per_capita_familiar_cat_f"].unique())) + " (10)")

Valores distintos vs solicitados:

ingresos_familiares_cat_rd: 7 (8)
ingresos_familiares_cat_f: 8 (8)
ingreso_per_capita_familiar_cat_rd: 6 (10)
ingreso_per_capita_familiar_cat_f: 10 (10)

In [428]:
# Revisemos los intervalos y las frecuencias de ingresos_familiares

print(data["ingresos_familiares_cat_rd"].value_counts().sort_index())
print("-" * 10)
print(data["ingresos_familiares_cat_f"].value_counts().sort_index())

ingresos_familiares_cat_rd
(-1000.0, 125000.0]      12573
(125000.0, 250000.0]      1482
(250000.0, 375000.0]       185
(375000.0, 500000.0]        41
(500000.0, 625000.0]        28
(625000.0, 750000.0]         9
(750000.0, 875000.0]         0
(875000.0, 1000000.0]        1
Name: count, dtype: int64
----------
ingresos_familiares_cat_f
(-0.001, 20800.0]        1796
(20800.0, 30000.0]       1810
(30000.0, 42000.0]       1841
(42000.0, 54000.0]       1721
(54000.0, 70000.0]       1905
(70000.0, 90000.0]       1781
(90000.0, 124000.0]      1677
(124000.0, 1000000.0]    1788
Name: count, dtype: int64

In [429]:
# Revisemos los intervalos y frecuencias de ingreso_per_capita_familiar

print(data["ingreso_per_capita_familiar_cat_rd"].value_counts().sort_index())
print("-" * 10)
print(data["ingreso_per_capita_familiar_cat_f"].value_counts().sort_index())

ingreso_per_capita_familiar_cat_rd
(-1000.0, 100000.0]      14068
(100000.0, 200000.0]       217
(200000.0, 300000.0]        25
(300000.0, 400000.0]         4
(400000.0, 500000.0]         4
(500000.0, 600000.0]         0
(600000.0, 700000.0]         0
(700000.0, 800000.0]         0
(800000.0, 900000.0]         0
(900000.0, 1000000.0]        1
Name: count, dtype: int64
----------
ingreso_per_capita_familiar_cat_f
(-0.001, 5400.0]        1434
(5400.0, 8700.0]        1431
(8700.0, 12000.0]       1554
(12000.0, 15016.0]      1309
(15016.0, 19900.0]      1432
(19900.0, 24000.0]      1460
(24000.0, 30000.0]      1594
(30000.0, 38300.0]      1243
(38300.0, 52340.0]      1430
(52340.0, 1000000.0]    1432
Name: count, dtype: int64

Se observa que en los ingresos familiares y per cápita, la discretización por rangos o distancia no logra cumplir con la cantidad de intervalos deseados y genera rangos con cero o muy pocos casos, por lo que no se recomienda su uso.

In [430]:
# Discretizamos ingreso_total_lab y ingreso_total_no_lab for frecuencias

data["ingreso_total_lab_cat_f"] = pd.qcut(data["ingreso_total_lab"], q=10, duplicates="drop")

data["ingreso_total_no_lab_cat_f"] = pd.qcut(data["ingreso_total_no_lab"], q=4, duplicates="drop")

In [431]:
# Discretizamos edad por rango o distancia en 5 bins    

data["edad_cat_rd"] = pd.cut(data["edad"], bins=5, duplicates="drop")

In [432]:
# Revisemos los intervalos y las frecuencias

print(data["ingreso_total_lab_cat_f"].value_counts().sort_index())
print("-" * 10)
print(data["ingreso_total_no_lab_cat_f"].value_counts().sort_index())
print("-" * 10)
print(data["edad_cat_rd"].value_counts().sort_index())
print("-" * 10)

ingreso_total_lab_cat_f
(-0.001, 2500.0]        7168
(2500.0, 15000.0]       1499
(15000.0, 25000.0]      1397
(25000.0, 37000.0]      1431
(37000.0, 56000.0]      1397
(56000.0, 1000000.0]    1427
Name: count, dtype: int64
----------
ingreso_total_no_lab_cat_f
(-0.001, 4000.0]      10741
(4000.0, 500000.0]     3578
Name: count, dtype: int64
----------
edad_cat_rd
(-0.1, 20.0]     3669
(20.0, 40.0]     4204
(40.0, 60.0]     3452
(60.0, 80.0]     2448
(80.0, 100.0]     546
Name: count, dtype: int64
----------

Se observa que no ha podido respetar la cantidad de rangos en ninguno de los 3 casos:

- para ingreso_total_lab_cat_f en lugar de 10 hizo 6 intervalos
- para ingreso_total_no_lab_cat_f en lugar de 4 hizo 2
- para edad en lugar de 6 hizo 5.

In [433]:
# Ordenamos el dataset para dehacernos de las columnas redundantes y que quede como la respuesta del profe

data["ingresos_familiares"] = data["ingresos_familiares_cat_f"]
data["ingreso_per_capita_familiar"] = data["ingreso_per_capita_familiar_cat_f"]
data["ingreso_total_lab"] = data["ingreso_total_lab_cat_f"]
data["ingreso_total_no_lab"] = data["ingreso_total_no_lab_cat_f"]
data["edad"] = data["edad_cat_rd"]

print(data["edad"].unique())

[(-0.1, 20.0], (40.0, 60.0], (20.0, 40.0], (60.0, 80.0], (80.0, 100.0]]
Categories (5, interval[float64, right]): [(-0.1, 20.0] < (20.0, 40.0] < (40.0, 60.0] < (60.0, 80.0] < (80.0, 100.0]]

In [434]:
# Elimino las columnas de categorías que ya no necesito

data = data.drop(["ingresos_familiares_cat_f", "ingresos_familiares_cat_rd", "ingreso_per_capita_familiar_cat_f",
"ingreso_per_capita_familiar_cat_rd", "ingreso_total_lab_cat_f", "ingreso_total_no_lab_cat_f", "edad_cat_rd"], axis=1)
status(data)

,variable,q_nan,p_nan,q_zeros,p_zeros,unique,type
0,nhogar,0,0.000000,0,0.000000,7,int64
1,miembro,0,0.000000,0,0.000000,19,int64
2,comuna,0,0.000000,0,0.000000,15,int64
3,dominio,0,0.000000,0,0.000000,2,object
4,edad,0,0.000000,0,0.000000,5,category
5,sexo,0,0.000000,0,0.000000,2,object
6,parentesco_jefe,0,0.000000,0,0.000000,9,object
7,situacion_conyugal,1,0.000070,0,0.000000,7,object
8,num_miembro_padre,0,0.000000,0,0.000000,9,object
9,num_miembro_madre,0,0.000000,0,0.000000,11,object
10,estado_ocupacional,0,0.000000,0,0.000000,3,object
11,cat_ocupacional,0,0.000000,0,0.000000,5,object
12,calidad_ingresos_lab,0,0.000000,0,0.000000,4,object
13,ingreso_total_lab,0,0.000000,0,0.000000,6,category
14,calidad_ingresos_no_lab,0,0.000000,0,0.000000,4,object
15,ingreso_total_no_lab,0,0.000000,0,0.000000,2,category
16,calidad_ingresos_totales,0,0.000000,0,0.000000,4,object
17,ingresos_totales,0,0.000000,4295,0.299951,678,int64
18,calidad_ingresos_familiares,0,0.000000,0,0.000000,3,object
19,ingresos_familiares,0,0.000000,0,0.000000,8,category
20,ingreso_per_capita_familiar,0,0.000000,0,0.000000,10,category
21,estado_educativo,0,0.000000,0,0.000000,3,object
22,sector_educativo,3,0.000210,0,0.000000,4,object
23,nivel_actual,0,0.000000,0,0.000000,14,object
24,nivel_max_educativo,1054,0.073608,0,0.000000,7,object
25,años_escolaridad,62,0.004330,0,0.000000,20,object
26,lugar_nacimiento,1,0.000070,0,0.000000,7,object
27,afiliacion_salud,4,0.000279,0,0.000000,5,object
28,cantidad_hijos_nac_vivos,0,0.000000,0,0.000000,14,object

## Preparación de los datos

- Cambien el tipo de dato a `str` de las siguientes columnas: `comuna` y `nhogar`.

In [435]:
data[["comuna","nhogar"]] = data[["comuna","nhogar"]].astype(str)

In [436]:
data[["comuna","nhogar"]].dtypes

comuna    object
nhogar    object
dtype: object

- _¿Qué esperas como valor en la columna `años_escolaridad`?_ Número enteros pero no siempre es así, cada entidad o empresa tiene diferentes formas de rellenar una encuesta.
    <br>Evalua lo siguiente: `data['años_escolaridad'].unique()`, vas a poder ver los valores únicos en la columna. Donde destacamos que todos son `object/string`.

In [437]:
data['años_escolaridad'].unique()

array(['12', '17', '10', '8', 'Ningun año de escolaridad aprobado', '11',
       '9', '13', '7', '16', '14', '15', '5', '6', '2', '19', '4', '1',
       '3', '18', nan], dtype=object)

In [438]:
data[['años_escolaridad']].dtypes

años_escolaridad    object
dtype: object

- Reemplazar `Ningun año de escolaridad aprobado` por un '0'. 
<br>Efectivamente por '0' y no 0, porque esta columna maneja datos tipo `object/string`.
    ```
    data['años_escolaridad'] = data['años_escolaridad'].replace('Ningun año de escolaridad aprobado', '0')
    ```

In [439]:
data["años_escolaridad"].replace({"Ningun año de escolaridad aprobado": "0"}, inplace=True)

C:\Users\alejo\AppData\Local\Temp\ipykernel_17732\2906911269.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["años_escolaridad"].replace({"Ningun año de escolaridad aprobado": "0"}, inplace=True)

In [440]:
data['años_escolaridad'].unique()

array(['12', '17', '10', '8', '0', '11', '9', '13', '7', '16', '14', '15',
       '5', '6', '2', '19', '4', '1', '3', '18', nan], dtype=object)

- Vamos a convertir los tipos de datos de la columna anterior `años_escolaridad` a enteros.
    <br>De manera intuitiva podríamos hacer:
    ```
    data['años_escolaridad'] = data['años_escolaridad'].astype("Int32")
    ```
    Posiblemente muchas veces les pase que cuando hagan una _cast_ (conversión de un tipo de dato a otro) pueden llegar a tener conflictos si esa columna tienen _NaN_. Para este caso si queremos convertir los valores de la columna `años_escolaridad` de _string_ a _int_, hay que hacer un paso intermedio que es pasarlo a _float_.
    ```
    data['años_escolaridad'] = data['años_escolaridad'].astype(float).astype("Int32")
    ```

In [441]:
data['años_escolaridad'] = data['años_escolaridad'].astype(float).astype('Int32')

In [442]:
data[['años_escolaridad']].dtypes

años_escolaridad    Int32
dtype: object

In [443]:
data['años_escolaridad'].unique()

<IntegerArray>
[12, 17, 10, 8, 0, 11, 9, 13, 7, 16, 14, 15, 5, 6, 2, 19, 4, 1, 3, 18, <NA>]
Length: 21, dtype: Int32

- Discreticen para la columna `años_escolaridad` por igual frecuencia e igual rango con un `q=5`

In [444]:
data["años_escolaridad_cat_rd"] = pd.cut(data["años_escolaridad"], bins=5)
data["años_escolaridad_cat_f"] = pd.qcut(data["años_escolaridad"], q=5)

data[["años_escolaridad","años_escolaridad_cat_rd","años_escolaridad_cat_f"]].head(5)

   años_escolaridad años_escolaridad_cat_rd años_escolaridad_cat_f
0                12            (11.4, 15.2]           (11.0, 12.0]
1                12            (11.4, 15.2]           (11.0, 12.0]
2                12            (11.4, 15.2]           (11.0, 12.0]
3                17            (15.2, 19.0]           (16.0, 19.0]
4                10             (7.6, 11.4]            (7.0, 11.0]

In [445]:
# Revisemos los intervalos y frecuencias de años_escolaridad

print(data["años_escolaridad_cat_rd"].value_counts().sort_index())
print("-" * 10)
print(data["años_escolaridad_cat_f"].value_counts().sort_index())

años_escolaridad_cat_rd
(-0.019, 3.8]    1924
(3.8, 7.6]       1927
(7.6, 11.4]      1975
(11.4, 15.2]     5527
(15.2, 19.0]     2904
Name: count, dtype: int64
----------
años_escolaridad_cat_f
(-0.001, 7.0]    3851
(7.0, 11.0]      1975
(11.0, 12.0]     2824
(12.0, 16.0]     3037
(16.0, 19.0]     2570
Name: count, dtype: int64


- No necesariamente siempre hay que rellenar los `NaN` en todas las columnas, porque quizás esa cantidad de `NaN` no es tan representativa para nuestro análisis. Así que podes eliminarlo para todo el dataframe o para ciertas columnas.
    ```
    # Eliminar filas que contengan NaN
    data = data.dropna(subset=['situacion_conyugal', 'sector_educativo', 'lugar_nacimiento', 'afiliacion_salud'])
    ```

In [446]:
print(f"Cantidad de registros")
print(f"Antes de aplicar dropna: {data.shape[0]}")
data = data.dropna(subset=['situacion_conyugal', 'sector_educativo', 'lugar_nacimiento', 'afiliacion_salud'])
print(f"Después de aplicar dropna: {data.shape[0]}")

Cantidad de registros
Antes de aplicar dropna: 14319
Después de aplicar dropna: 14310

- Después de eliminar filas, podes resetear el índice para que mantenga la secuencia:
    ```
    data = data.reset_index(drop=True)
    ```

In [447]:
print(f"Último indice previo a aplicar el reseteo: {data.tail(1).index.values}")
data = data.reset_index(drop=True)
print(f"Último indice luego de aplicar el reseteo: {data.tail(1).index.values}")

Último indice previo a aplicar el reseteo: [14318]
Último indice luego de aplicar el reseteo: [14309]


- Rellenar los datos faltantes para la columna `años_escolaridad`. Primero añadan la categoría `desconocido` y luego hacen un rellenado de los datos faltantes con `desconocido`.

In [448]:
data[["años_escolaridad"]] = data[["años_escolaridad"]].astype("category")
data[["años_escolaridad"]].dtypes

años_escolaridad    category
dtype: object

In [449]:
print("Primeros dos registros con valores nulos: ")
data[data["años_escolaridad"].isna()]["años_escolaridad"].head(2)

Primeros dos registros con valores nulos:

882     NaN
1540    NaN
Name: años_escolaridad, dtype: category
Categories (20, Int32): [0, 1, 2, 3, ..., 16, 17, 18, 19]

In [450]:
data["años_escolaridad"] = data["años_escolaridad"].cat.add_categories(["desconocido"])
data["años_escolaridad"] = data["años_escolaridad"].fillna("desconocido")

In [451]:
print("Vemos que los mismos registros ahora tienen el valor 'Desconodido': ")
data[data["años_escolaridad"] == "desconocido"]["años_escolaridad"].head(2)

Vemos que los mismos registros ahora tienen el valor 'Desconodido':

882     desconocido
1540    desconocido
Name: años_escolaridad, dtype: category
Categories (21, object): [0, 1, 2, 3, ..., 17, 18, 19, 'desconocido']


- Rellenar los datos faltantes para la columna `nivel_max_educativo` con `value=desconocido`

In [452]:
print("Primeros dos registros con valores nulos: ")
data[data["nivel_max_educativo"].isna()]["nivel_max_educativo"].head(2)

Primeros dos registros con valores nulos:

7     NaN
23    NaN
Name: nivel_max_educativo, dtype: object

In [453]:
data["nivel_max_educativo"] = data["nivel_max_educativo"].fillna("desconocido")

In [454]:
print("Vemos que los mismos registros ahora tienen el valor 'Desconodido': ")
data[data["nivel_max_educativo"] == "desconocido"]["nivel_max_educativo"].head(2)

Vemos que los mismos registros ahora tienen el valor 'Desconodido':

7     desconocido
23    desconocido
Name: nivel_max_educativo, dtype: object