# Preparación de Datos Encuesta Nacional de Hogares 2019

In [17]:
# Instalación y llamado de libs
import pandas as pd
from funpymodeling.exploratory import status

In [18]:
# 1. Cargamos el dataset

data = pd.read_csv("encuesta-anual-hogares-2019.csv", sep=',')

In [19]:
data.sample(5)

,id,nhogar,miembro,comuna,dominio,edad,sexo,parentesco_jefe,situacion_conyugal,num_miembro_padre,...,ingreso_per_capita_familiar,estado_educativo,sector_educativo,nivel_actual,nivel_max_educativo,años_escolaridad,lugar_nacimiento,afiliacion_salud,hijos_nacidos_vivos,cantidad_hijos_nac_vivos
8446,3026,1,3,6,Resto de la Ciudad,23,Mujer,Hijo/a - Hijastro/a,Soltero/a,1,...,38333,Asiste,Estatal/publico,Universitario,Otras escuelas especiales,13,CABA,Solo prepaga o mutual via OS,No,No corresponde
7690,2785,1,2,2,Resto de la Ciudad,50,Mujer,Conyugue o pareja,Casado/a,No corresponde,...,54000,No asiste pero asistió,No corresponde,No corresponde,Secundario/medio comun,15,CABA,Solo obra social,Si,3
2783,1212,1,1,1,Villas de emergencia,36,Varon,Jefe,Casado/a,No corresponde,...,3000,No asiste pero asistió,No corresponde,No corresponde,Sala de 5,5,Pais limitrofe,Solo obra social,NaN,No corresponde
6880,2529,1,1,1,Resto de la Ciudad,48,Varon,Jefe,Unido/a,No corresponde,...,17667,Asiste,Privado no religioso,Universitario,Otras escuelas especiales,15,Pais no limitrofe,Solo obra social,NaN,No corresponde
13615,5367,1,1,10,Resto de la Ciudad,79,Varon,Jefe,Viudo/a,No corresponde,...,13071,No asiste pero asistió,No corresponde,No corresponde,Otras escuelas especiales,14,CABA,Otros,NaN,No corresponde

In [20]:
status(data)

,variable,q_nan,p_nan,q_zeros,p_zeros,unique,type
0,id,0,0.000000,0,0.000000,5795,int64
1,nhogar,0,0.000000,0,0.000000,7,int64
2,miembro,0,0.000000,0,0.000000,19,int64
3,comuna,0,0.000000,0,0.000000,15,int64
4,dominio,0,0.000000,0,0.000000,2,object
5,edad,0,0.000000,128,0.008939,101,int64
6,sexo,0,0.000000,0,0.000000,2,object
7,parentesco_jefe,0,0.000000,0,0.000000,9,object
8,situacion_conyugal,1,0.000070,0,0.000000,7,object
9,num_miembro_padre,0,0.000000,0,0.000000,9,object
10,num_miembro_madre,0,0.000000,0,0.000000,11,object
11,estado_ocupacional,0,0.000000,0,0.000000,3,object
12,cat_ocupacional,0,0.000000,0,0.000000,5,object
13,calidad_ingresos_lab,0,0.000000,0,0.000000,4,object
14,ingreso_total_lab,0,0.000000,6963,0.486277,440,int64
15,calidad_ingresos_no_lab,0,0.000000,0,0.000000,4,object
16,ingreso_total_no_lab,0,0.000000,10247,0.715623,375,int64
17,calidad_ingresos_totales,0,0.000000,0,0.000000,4,object
18,ingresos_totales,0,0.000000,4295,0.299951,678,int64
19,calidad_ingresos_familiares,0,0.000000,0,0.000000,3,object
20,ingresos_familiares,0,0.000000,76,0.005308,960,int64
21,ingreso_per_capita_familiar,0,0.000000,76,0.005308,1257,int64
22,estado_educativo,0,0.000000,0,0.000000,3,object
23,sector_educativo,3,0.000210,0,0.000000,4,object
24,nivel_actual,0,0.000000,0,0.000000,14,object
25,nivel_max_educativo,1054,0.073608,0,0.000000,7,object
26,años_escolaridad,62,0.004330,0,0.000000,20,object
27,lugar_nacimiento,1,0.000070,0,0.000000,7,object
28,afiliacion_salud,4,0.000279,0,0.000000,5,object
29,hijos_nacidos_vivos,7784,0.543613,0,0.000000,2,object
30,cantidad_hijos_nac_vivos,0,0.000000,0,0.000000,14,object

## Inspección inicial:

In [21]:
# sacar id e hijos_nacidos_vivos

data = data.drop(["id", "hijos_nacidos_vivos"], axis=1)
data.sample(5)

,nhogar,miembro,comuna,dominio,edad,sexo,parentesco_jefe,situacion_conyugal,num_miembro_padre,num_miembro_madre,...,ingresos_familiares,ingreso_per_capita_familiar,estado_educativo,sector_educativo,nivel_actual,nivel_max_educativo,años_escolaridad,lugar_nacimiento,afiliacion_salud,cantidad_hijos_nac_vivos
10023,1,1,11,Resto de la Ciudad,58,Mujer,Jefe,Separado/a de unión o matrimonio,No corresponde,No corresponde,...,110000,55000,No asiste pero asistió,No corresponde,No corresponde,Secundario/medio comun,19,CABA,Solo prepaga o mutual via OS,2
4913,1,1,6,Resto de la Ciudad,42,Varon,Jefe,Unido/a,No corresponde,No corresponde,...,92000,46000,No asiste pero asistió,No corresponde,No corresponde,EGB (1° a 9° año),11,CABA,Solo obra social,No corresponde
13683,1,1,5,Resto de la Ciudad,80,Mujer,Jefe,Viudo/a,No corresponde,No corresponde,...,44000,44000,No asiste pero asistió,No corresponde,No corresponde,Primario especial,12,Otra provincia,Solo plan de medicina prepaga por contratación...,6
3387,1,1,8,Resto de la Ciudad,37,Mujer,Jefe,Unido/a,No corresponde,No corresponde,...,56000,28000,No asiste pero asistió,No corresponde,No corresponde,Secundario/medio comun,19,CABA,Solo plan de medicina prepaga por contratación...,No corresponde
269,1,2,15,Resto de la Ciudad,17,Mujer,Conyugue o pareja,Unido/a,Padre no vive en el hogar,Madre no vive en el hogar,...,17000,5667,No asiste pero asistió,No corresponde,No corresponde,EGB (1° a 9° año),8,CABA,Solo sistema publico,1

## Discretización

In [22]:
# Discretización de ingresos_familiares e ingreso_per_capita_familiar
# Usamos drop para eliminar los valores duplicados

data["ingresos_familiares_cat_rd"] = pd.cut(data["ingresos_familiares"], bins=8, duplicates="drop")
data["ingresos_familiares_cat_f"] = pd.qcut(data["ingresos_familiares"], q=8, duplicates="drop")

data["ingreso_per_capita_familiar_cat_rd"] = pd.cut(data["ingreso_per_capita_familiar"], bins=10, duplicates="drop")
data["ingreso_per_capita_familiar_cat_f"] = pd.qcut(data["ingreso_per_capita_familiar"], q=10, duplicates="drop")

In [23]:
data.sample(5)

,nhogar,miembro,comuna,dominio,edad,sexo,parentesco_jefe,situacion_conyugal,num_miembro_padre,num_miembro_madre,...,nivel_actual,nivel_max_educativo,años_escolaridad,lugar_nacimiento,afiliacion_salud,cantidad_hijos_nac_vivos,ingresos_familiares_cat_rd,ingresos_familiares_cat_f,ingreso_per_capita_familiar_cat_rd,ingreso_per_capita_familiar_cat_f
9371,1,4,11,Resto de la Ciudad,20,Mujer,Hijo/a - Hijastro/a,Soltero/a,1,2,...,Secundario/medio comun,EGB (1° a 9° año),11,CABA,Solo obra social,No corresponde,"(-1000.0, 125000.0]","(42000.0, 54000.0]","(-1000.0, 100000.0]","(8700.0, 12000.0]"
7149,1,2,12,Resto de la Ciudad,49,Mujer,Conyugue o pareja,Unido/a,No corresponde,No corresponde,...,No corresponde,Secundario/medio comun,17,PBA excepto GBA,Solo plan de medicina prepaga por contratación...,No corresponde,"(125000.0, 250000.0]","(124000.0, 1000000.0]","(-1000.0, 100000.0]","(38300.0, 52340.0]"
1995,1,1,3,Resto de la Ciudad,33,Mujer,Jefe,Soltero/a,No corresponde,No corresponde,...,Postgrado,Secundario/medio comun,18,PBA excepto GBA,Solo obra social,No corresponde,"(-1000.0, 125000.0]","(30000.0, 42000.0]","(-1000.0, 100000.0]","(38300.0, 52340.0]"
14074,1,1,12,Resto de la Ciudad,86,Varon,Jefe,Viudo/a,No corresponde,No corresponde,...,No corresponde,Primario especial,12,CABA,Otros,No corresponde,"(-1000.0, 125000.0]","(42000.0, 54000.0]","(-1000.0, 100000.0]","(38300.0, 52340.0]"
5673,1,2,6,Resto de la Ciudad,11,Mujer,Hijo/a - Hijastro/a,No corresponde,Padre no vive en el hogar,1,...,Primario comun,Sala de 5,4,CABA,Solo prepaga o mutual via OS,No corresponde,"(-1000.0, 125000.0]","(42000.0, 54000.0]","(-1000.0, 100000.0]","(24000.0, 30000.0]"

In [24]:
# Revisemos si pudo cumplir los cortes: 

print("ingresos_familiares_cat_rd: " + str(len(data["ingresos_familiares_cat_rd"].unique())))

print("ingresos_familiares_cat_f: " + str(len(data["ingresos_familiares_cat_f"].unique())))

print("ingreso_per_capita_familiar_cat_rd: " + str(len(data["ingreso_per_capita_familiar_cat_rd"].unique())))

print("ingreso_per_capita_familiar_cat_f: " + str(len(data["ingreso_per_capita_familiar_cat_f"].unique())))

ingresos_familiares_cat_rd: 7
ingresos_familiares_cat_f: 8
ingreso_per_capita_familiar_cat_rd: 6
ingreso_per_capita_familiar_cat_f: 10

In [25]:
# Revisemos los intervalos y las frecuencias de ingresos_familiares

print(data["ingresos_familiares_cat_rd"].value_counts().sort_index())
print("-" * 10)
print(data["ingresos_familiares_cat_f"].value_counts().sort_index())

(-1000.0, 125000.0]      12573
(125000.0, 250000.0]      1482
(250000.0, 375000.0]       185
(375000.0, 500000.0]        41
(500000.0, 625000.0]        28
(625000.0, 750000.0]         9
(750000.0, 875000.0]         0
(875000.0, 1000000.0]        1
Name: ingresos_familiares_cat_rd, dtype: int64
----------
(-0.001, 20800.0]        1796
(20800.0, 30000.0]       1810
(30000.0, 42000.0]       1841
(42000.0, 54000.0]       1721
(54000.0, 70000.0]       1905
(70000.0, 90000.0]       1781
(90000.0, 124000.0]      1677
(124000.0, 1000000.0]    1788
Name: ingresos_familiares_cat_f, dtype: int64

In [26]:
# Revisemos los intervalos y frecuencias de ingreso_per_capita_familiar

print(data["ingreso_per_capita_familiar_cat_rd"].value_counts().sort_index())
print("-" * 10)
print(data["ingreso_per_capita_familiar_cat_f"].value_counts().sort_index())

(-1000.0, 100000.0]      14068
(100000.0, 200000.0]       217
(200000.0, 300000.0]        25
(300000.0, 400000.0]         4
(400000.0, 500000.0]         4
(500000.0, 600000.0]         0
(600000.0, 700000.0]         0
(700000.0, 800000.0]         0
(800000.0, 900000.0]         0
(900000.0, 1000000.0]        1
Name: ingreso_per_capita_familiar_cat_rd, dtype: int64
----------
(-0.001, 5400.0]        1434
(5400.0, 8700.0]        1431
(8700.0, 12000.0]       1554
(12000.0, 15016.0]      1309
(15016.0, 19900.0]      1432
(19900.0, 24000.0]      1460
(24000.0, 30000.0]      1594
(30000.0, 38300.0]      1243
(38300.0, 52340.0]      1430
(52340.0, 1000000.0]    1432
Name: ingreso_per_capita_familiar_cat_f, dtype: int64

Se observa que en los ingresos familiares y per cápita, la discretización por rangos o distancia no logra cumplir con la cantidad de intervalos deseados y genera rangos con cero o muy pocos casos, por lo que no se recomienda su uso.

In [27]:
# Discretizamos ingreso_total_lab y ingreso_total_no_lab for frecuencias

data["ingreso_total_lab_cat_f"] = pd.qcut(data["ingreso_total_lab"], q=10, duplicates="drop")

data["ingreso_total_no_lab_cat_f"] = pd.qcut(data["ingreso_total_no_lab"], q=4, duplicates="drop")

In [28]:
# Discretizamos edad por rango o distancia en 5 bins    

data["edad_cat_rd"] = pd.cut(data["edad"], bins=5, duplicates="drop")

In [29]:
# Revisemos los intervalos y las frecuencias

print(data["ingreso_total_lab_cat_f"].value_counts().sort_index())
print("-" * 10)
print(data["ingreso_total_no_lab_cat_f"].value_counts().sort_index())
print("-" * 10)
print(data["edad_cat_rd"].value_counts().sort_index())
print("-" * 10)

(-0.001, 2500.0]        7168
(2500.0, 15000.0]       1499
(15000.0, 25000.0]      1397
(25000.0, 37000.0]      1431
(37000.0, 56000.0]      1397
(56000.0, 1000000.0]    1427
Name: ingreso_total_lab_cat_f, dtype: int64
----------
(-0.001, 4000.0]      10741
(4000.0, 500000.0]     3578
Name: ingreso_total_no_lab_cat_f, dtype: int64
----------
(-0.1, 20.0]     3669
(20.0, 40.0]     4204
(40.0, 60.0]     3452
(60.0, 80.0]     2448
(80.0, 100.0]     546
Name: edad_cat_rd, dtype: int64
----------

Se observa que no ha podido respetar la cantidad de rangos en ninguno de los 3 casos, en lugar de 10 para ingreso_total_lab_cat_f hizo 6 intervalos, para ingreso_total_no_lab_cat_f en lugar de 4 hizo 2, y para edad en lugar de 6 hizo 5.

In [30]:
# Ordenamos el dataset para dehacernos de las columnas redundantes y que quede como la respuesta del profe

data["ingresos_familiares"] = data["ingresos_familiares_cat_f"]
data["ingreso_per_capita_familiar"] = data["ingreso_per_capita_familiar_cat_f"]
data["ingreso_total_lab"] = data["ingreso_total_lab_cat_f"]
data["ingreso_total_no_lab"] = data["ingreso_total_no_lab_cat_f"]
data["edad"] = data["edad_cat_rd"]

print(data["edad"].unique())

[(-0.1, 20.0], (40.0, 60.0], (20.0, 40.0], (60.0, 80.0], (80.0, 100.0]]
Categories (5, interval[float64]): [(-0.1, 20.0] < (20.0, 40.0] < (40.0, 60.0] < (60.0, 80.0] < (80.0, 100.0]]

In [31]:
# Elimino las columnas de categorías que ya no necesito

data = data.drop(["ingresos_familiares_cat_f", "ingresos_familiares_cat_rd", "ingreso_per_capita_familiar_cat_f",
"ingreso_per_capita_familiar_cat_rd", "ingreso_total_lab_cat_f", "ingreso_total_no_lab_cat_f", "edad_cat_rd"], axis=1)
status(data)

,variable,q_nan,p_nan,q_zeros,p_zeros,unique,type
0,nhogar,0,0.000000,0,0.000000,7,int64
1,miembro,0,0.000000,0,0.000000,19,int64
2,comuna,0,0.000000,0,0.000000,15,int64
3,dominio,0,0.000000,0,0.000000,2,object
4,edad,0,0.000000,0,0.000000,5,category
5,sexo,0,0.000000,0,0.000000,2,object
6,parentesco_jefe,0,0.000000,0,0.000000,9,object
7,situacion_conyugal,1,0.000070,0,0.000000,7,object
8,num_miembro_padre,0,0.000000,0,0.000000,9,object
9,num_miembro_madre,0,0.000000,0,0.000000,11,object
10,estado_ocupacional,0,0.000000,0,0.000000,3,object
11,cat_ocupacional,0,0.000000,0,0.000000,5,object
12,calidad_ingresos_lab,0,0.000000,0,0.000000,4,object
13,ingreso_total_lab,0,0.000000,0,0.000000,6,category
14,calidad_ingresos_no_lab,0,0.000000,0,0.000000,4,object
15,ingreso_total_no_lab,0,0.000000,0,0.000000,2,category
16,calidad_ingresos_totales,0,0.000000,0,0.000000,4,object
17,ingresos_totales,0,0.000000,4295,0.299951,678,int64
18,calidad_ingresos_familiares,0,0.000000,0,0.000000,3,object
19,ingresos_familiares,0,0.000000,0,0.000000,8,category
20,ingreso_per_capita_familiar,0,0.000000,0,0.000000,10,category
21,estado_educativo,0,0.000000,0,0.000000,3,object
22,sector_educativo,3,0.000210,0,0.000000,4,object
23,nivel_actual,0,0.000000,0,0.000000,14,object
24,nivel_max_educativo,1054,0.073608,0,0.000000,7,object
25,años_escolaridad,62,0.004330,0,0.000000,20,object
26,lugar_nacimiento,1,0.000070,0,0.000000,7,object
27,afiliacion_salud,4,0.000279,0,0.000000,5,object
28,cantidad_hijos_nac_vivos,0,0.000000,0,0.000000,14,object

## Preparación de los datos