# Preparación de Datos Encuesta Nacional de Hogares 2019

In [ ]:
# Instalación y llamado de libs
import pandas as pd
from funpymodeling.exploratory import status

In [246]:
# 1. Cargamos el dataset

data = pd.read_csv("encuesta-anual-hogares-2019.csv", sep=',')

In [247]:
data.sample(5)

,id,nhogar,miembro,comuna,dominio,edad,sexo,parentesco_jefe,situacion_conyugal,num_miembro_padre,...,ingreso_per_capita_familiar,estado_educativo,sector_educativo,nivel_actual,nivel_max_educativo,años_escolaridad,lugar_nacimiento,afiliacion_salud,hijos_nacidos_vivos,cantidad_hijos_nac_vivos
2576,1128,1,3,1,Villas de emergencia,1,Varon,Hijo/a - Hijastro/a,No corresponde,1,...,9333,Nunca asistio,No corresponde,No corresponde,NaN,Ningun año de escolaridad aprobado,CABA,Solo obra social,NaN,No corresponde
1371,612,1,3,10,Resto de la Ciudad,10,Varon,Hijo/a - Hijastro/a,No corresponde,1,...,20667,Asiste,Estatal/publico,Primario comun,Sala de 5,3,Partido GBA,Solo sistema publico,NaN,No corresponde
3369,1408,1,3,11,Resto de la Ciudad,6,Varon,Hijo/a - Hijastro/a,No corresponde,1,...,23750,Asiste,Privado no religioso,Sala de 5,NaN,Ningun año de escolaridad aprobado,CABA,Solo obra social,NaN,No corresponde
7075,2586,1,3,5,Resto de la Ciudad,12,Varon,Hijo/a - Hijastro/a,No corresponde,1,...,10000,Asiste,Privado religioso,Primario comun,Sala de 5,5,CABA,Solo obra social,NaN,No corresponde
2664,1158,1,1,14,Resto de la Ciudad,35,Mujer,Jefe,Separado/a de unión o matrimonio,No corresponde,...,13000,No asiste pero asistió,No corresponde,No corresponde,Secundario/medio comun,17,Pais no limitrofe,Solo obra social,No,No corresponde

In [248]:
status(data)

,variable,q_nan,p_nan,q_zeros,p_zeros,unique,type
0,id,0,0.000000,0,0.000000,5795,int64
1,nhogar,0,0.000000,0,0.000000,7,int64
2,miembro,0,0.000000,0,0.000000,19,int64
3,comuna,0,0.000000,0,0.000000,15,int64
4,dominio,0,0.000000,0,0.000000,2,object
5,edad,0,0.000000,128,0.008939,101,int64
6,sexo,0,0.000000,0,0.000000,2,object
7,parentesco_jefe,0,0.000000,0,0.000000,9,object
8,situacion_conyugal,1,0.000070,0,0.000000,7,object
9,num_miembro_padre,0,0.000000,0,0.000000,9,object
10,num_miembro_madre,0,0.000000,0,0.000000,11,object
11,estado_ocupacional,0,0.000000,0,0.000000,3,object
12,cat_ocupacional,0,0.000000,0,0.000000,5,object
13,calidad_ingresos_lab,0,0.000000,0,0.000000,4,object
14,ingreso_total_lab,0,0.000000,6963,0.486277,440,int64
15,calidad_ingresos_no_lab,0,0.000000,0,0.000000,4,object
16,ingreso_total_no_lab,0,0.000000,10247,0.715623,375,int64
17,calidad_ingresos_totales,0,0.000000,0,0.000000,4,object
18,ingresos_totales,0,0.000000,4295,0.299951,678,int64
19,calidad_ingresos_familiares,0,0.000000,0,0.000000,3,object
20,ingresos_familiares,0,0.000000,76,0.005308,960,int64
21,ingreso_per_capita_familiar,0,0.000000,76,0.005308,1257,int64
22,estado_educativo,0,0.000000,0,0.000000,3,object
23,sector_educativo,3,0.000210,0,0.000000,4,object
24,nivel_actual,0,0.000000,0,0.000000,14,object
25,nivel_max_educativo,1054,0.073608,0,0.000000,7,object
26,años_escolaridad,62,0.004330,0,0.000000,20,object
27,lugar_nacimiento,1,0.000070,0,0.000000,7,object
28,afiliacion_salud,4,0.000279,0,0.000000,5,object
29,hijos_nacidos_vivos,7784,0.543613,0,0.000000,2,object
30,cantidad_hijos_nac_vivos,0,0.000000,0,0.000000,14,object

## Inspección inicial:

In [249]:
# sacar id e hijos_nacidos_vivos

data = data.drop(["id", "hijos_nacidos_vivos"], axis=1)
data.sample(5)

,nhogar,miembro,comuna,dominio,edad,sexo,parentesco_jefe,situacion_conyugal,num_miembro_padre,num_miembro_madre,...,ingresos_familiares,ingreso_per_capita_familiar,estado_educativo,sector_educativo,nivel_actual,nivel_max_educativo,años_escolaridad,lugar_nacimiento,afiliacion_salud,cantidad_hijos_nac_vivos
3904,1,2,12,Resto de la Ciudad,37,Varon,Conyugue o pareja,Unido/a,No corresponde,No corresponde,...,57000,19000,No asiste pero asistió,No corresponde,No corresponde,Secundario/medio comun,17,CABA,Solo plan de medicina prepaga por contratación...,No corresponde
1691,1,1,2,Resto de la Ciudad,31,Varon,Jefe,Unido/a,No corresponde,No corresponde,...,340000,170000,No asiste pero asistió,No corresponde,No corresponde,Secundario/medio comun,17,Otra provincia,Solo sistema publico,No corresponde
4707,1,1,12,Resto de la Ciudad,41,Varon,Jefe,Casado/a,No corresponde,No corresponde,...,170000,34000,No asiste pero asistió,No corresponde,No corresponde,Secundario/medio comun,19,Otra provincia,Otros,No corresponde
9089,1,2,1,Resto de la Ciudad,12,Varon,Hijo/a - Hijastro/a,No corresponde,Padre no vive en el hogar,1,...,10400,5200,Asiste,Estatal/publico,Primario especial,Sala de 5,6,CABA,Solo sistema publico,No corresponde
2100,1,3,15,Resto de la Ciudad,3,Varon,Hijo/a - Hijastro/a,No corresponde,Padre no vive en el hogar,1,...,41500,13833,Asiste,Estatal/publico,Sala de 3,NaN,Ningun año de escolaridad aprobado,CABA,Solo obra social,No corresponde